
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Socket.IO Chat Example</title>
  <style>
  * {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}
  </style>
</head>
<body>
  <ul class="pages">
    <li class="chat page">
     <button class="joinRoom" type="button">join Room</button>
     <button class="disconnect" type="button">Disconnect</button>
     <button class="leaveRoom" type="button">leave Room </button>
     <button class="createRoom" type="button">Create Room </button>
     <input class="user1IdInput" type="text" placeholder="Id usuario 1"/>
     <input class="user2IdInput" type="text" placeholder="Id usuario 2"/>
     <input class="inputRoom" placeholder="Room name"/>
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <input class="inputMessage" placeholder="Type here..."/>
    </li>
    <li class="login page">
      <div class="form">
        <h3 class="title">What's your nickname?</h3>
        <input class="usernameInput" type="text" maxlength="14" />
      </div>
    </li>
  </ul>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.11/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script>

$(function() {

  var FADE_TIME = 150; // ms
  var TYPING_TIMER_LENGTH = 400; // ms
  var COLORS = [
    '#e21400', '#91580f', '#f8a700', '#f78b00',
    '#58dc00', '#287b00', '#a8f07a', '#4ae8c4',
    '#3b88eb', '#3824aa', '#a700ff', '#d300e7'
  ];

  // Initialize variables
  var $window = $(window);
  var $usernameInput = $('.usernameInput'); // Input for username
  var $user1IdInput = $('.user1IdInput');
  var $user2IdInput = $('.user2IdInput');
  var $messages = $('.messages'); // Messages area
  var $inputMessage = $('.inputMessage'); // Input message input box
  var $disconnect = $('.disconnect');
  var $loginPage = $('.login.page'); // The login page
  var $chatPage = $('.chat.page'); // The chatroom page
  var $joinRoom = $('.joinRoom');
  var $leaveRoom = $('.leaveRoom');
  var $inputRoom = $('.inputRoom');
  var $createRoom = $('.createRoom');

  // Prompt for setting a username
  var username;
  var connected = false;
  var typing = false;
  var lastTypingTime;
  var $currentInput = $usernameInput.focus();

  var socket = io.connect('http://localhost:3000');

  // Adds the visual chat typing message
  function addChatTyping (data) {
    data.typing = true;
    data.message = 'is typing';
    addChatMessage(data);
  }

  // Updates the typing event
  function updateTyping () {
    if (connected) {
      if (!typing) {
        typing = true;
        console.log("typing to: " + socket.room);
        socket.emit('typing', {username: username, room: socket.room});
      }
      lastTypingTime = (new Date()).getTime();

      setTimeout(function () {
        var typingTimer = (new Date()).getTime();
        var timeDiff = typingTimer - lastTypingTime;
        if (timeDiff >= TYPING_TIMER_LENGTH && typing) {
          socket.emit('stop typing', {username: username, room: socket.room});
          typing = false;
        }
      }, TYPING_TIMER_LENGTH);
    }
  }

  function offline(){
      socket.emit('offline', {username: username, room: socket.room});
  }

  // Removes the visual chat typing message
  function removeChatTyping (data) {
    getTypingMessages(data).fadeOut(function () {
      $(this).remove();
    });
  }

    // Gets the 'X is typing' messages of a user
  function getTypingMessages (data) {
    return $('.typing.message').filter(function (i) {
      return $(this).data('username') === data.username;
    });
  }

  // Adds the visual chat message to the message list
  function addChatMessage (data, options) {
    // Don't fade the message in if there is an 'X was typing'
    var $typingMessages = getTypingMessages(data);
    options = options || {};
    if ($typingMessages.length !== 0) {
      options.fade = false;
      $typingMessages.remove();
    }

    var $usernameDiv = $('<span class="username"/>')
      .text(data.nickname)
      .css('color', getUsernameColor(data.username));
    var $messageBodyDiv = $('<span class="messageBody">')
      .text(data.message);

    var typingClass = data.typing ? 'typing' : '';
    var $messageDiv = $('<li class="message"/>')
      .data('username', data.username)
      .addClass(typingClass)
      .append($usernameDiv, $messageBodyDiv);

    addMessageElement($messageDiv, options);
  }

  function sendMessage () {
    var message = $inputMessage.val();

    // if there is a non-empty message and a socket connection
    if (message && connected) {
      $inputMessage.val('');
      addChatMessage({
        username: username,
        message: message,
        nickname: username
      });
    console.log("socket id client side " + socket.id);
    socket.emit('message', { username: username, message: message });
    }
  }

  // Adds a message element to the messages and scrolls to the bottom
  // el - The element to add as a message
  // options.fade - If the element should fade-in (default = true)
  // options.prepend - If the element should prepend
  //   all other messages (default = false)
  function addMessageElement (el, options) {
    var $el = $(el);
    console.log("addMessageElement");
    // Setup default options
    if (!options) {
      options = {};
    }
    if (typeof options.fade === 'undefined') {
      options.fade = true;
    }
    if (typeof options.prepend === 'undefined') {
      options.prepend = false;
    }

    // Apply options
    if (options.fade) {
      $el.hide().fadeIn(FADE_TIME);
    }
    if (options.prepend) {
      $messages.prepend($el);
    } else {
      $messages.append($el);
    }
    $messages[0].scrollTop = $messages[0].scrollHeight;
  }

  // Log a message
  function log (message, options) {
    var $el = $('<li>').addClass('log').text(message);
    addMessageElement($el, options);
  }

 // Prevents input from having injected markup
  function cleanInput (input) {
    return $('<div/>').text(input).text();
  }

 function addParticipantsMessage (data) {
    var message = '';
    if (data.numUsers === 1) {
      message += "there's 1 participant in room: " + socket.room;
    } else {
      message += "there are " + data.numUsers + " participants in room: " + socket.room;
    }
    log(message);
  }



  // Sets the client's username
  function setUsername () {
    username = cleanInput($usernameInput.val().trim());
    // If the username is valid
    if (username) {
      $loginPage.fadeOut();
      $chatPage.show();
      $loginPage.off('click');
      $currentInput = $inputMessage.focus();
      console.log("client add user");
      // Tell the server your username and room
      socket.emit('add user', {id: username});
    }
  }


  // Gets the color of a username through our hash function
  function getUsernameColor (username) {
    // Compute hash codesocket
    var hash = 7;
    for (var i = 0; i < username.length; i++) {
       hash = username.charCodeAt(i) + (hash << 5) - hash;
    }
    // Calculate color
    var index = Math.abs(hash % COLORS.length);
    return COLORS[index];
  }


  function createRoom () {
        var user_id_1 = $user1IdInput.val()
        var user_id_2 = $user2IdInput.val()
    // Prevent markup from being injected into the message
        socket.emit('create room', {user_id_1: user_id_1, user_id_2: user_id_2});
  }

  function joinRoom () {
       var room = $inputRoom.val();
       //var id = $user1IdInput.val()
       log("socket id " + socket.id);
       log(username + " is joining room with socket id " + room);
       socket.emit('join room', {room: room, username: username});
      // tell server to execute 'new message' and send along one parameter
  }

  // Keyboard events
  $window.keydown(function (event) {
    // Auto-focus the current input when a key is typed
    if (!(event.ctrlKey || event.metaKey || event.altKey)) {
    }
    // When the client hits ENTER on their keyboard
    if (event.which === 13) {
      if (username) {
        sendMessage();
        socket.emit('stop typing', {username: username, room: socket.room});
        typing = false;
      } else {
        setUsername();
      }
    }
  });

 // Focus input when clicking on the message input's border
  $disconnect.on('click', function() {
    offline();
  });

  $inputMessage.click(function () {
    $inputMessage.focus();
  });

 $inputMessage.on('input', function() {
    updateTyping();
  });

  $createRoom.on('click', function() {
    createRoom();
  });


   $joinRoom.on('click', function() {
    joinRoom();
  });

  // Focus input when clicking anywhere on login page
  $loginPage.click(function () {
    $usernameInput.focus();
  });

  // Whenever the server emits 'login', log the login message
  socket.on('login user', function (data) {
    connected = true;
    socket.room = data.room;
    var message =  data.username + " is online in room: " + socket.room;
    socket.emit("user connected", {username: username, room: data.room})
  });

  // Whenever the server emits 'user joined', log it in the chat body
  socket.on('user joined', function (data) {
    log(data.username + ' joined' + ' the room ' + data.room);
  });

  //Status update
  socket.on('update messages', function (data){
     //log(data.messages + "  " + data.room);
     console.log("Numero de mensajes: " + Object.keys(data.messages).length);
     if(data.messages != null && data.messages != undefined){
      for(var item in data.messages){
        addChatMessage(data.messages[item]);
      }
      socket.emit("receive", {msg: "ok", room:data.room, username: username});
     }
  });

  socket.on('update', function (data){
     log(data.username + " " + data.message + " " + data.room);
   });

 // Whenever the server emits 'new message', update the chat body
  socket.on('new message', function (data) {
    addChatMessage(data);
    socket.emit("receive", {msg: "ok", username: username, room:socket.room});
  });

// Whenever the server emits 'typing', show the typing message
  socket.on('typing', function (data) {
    addChatTyping(data);
  });

  // Whenever the server emits 'stop typing', kill the typing message
  socket.on('stop typing', function (data) {
    removeChatTyping(data);
  });

  socket.on('reconnect', function () {
    log('you have been reconnected ' + 'to room ' + socket.room);
    if (username) {
      socket.emit('add user', {username: username, room: socket.room});
    }
  });

  socket.on('reconnect_error', function () {
    log('attempt to reconnect has failed');
  });

});
</script>
</body>
</html>

